<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Ruta no valida!</h4>
    <p>Usted a navegado a una ruta que no existe.</p>
    <hr>
    <p class="mb-0">Intente usar el menú pra navegar</p>
</div>

@code {

}
